.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Clouds-Section {
  flex: 2;
  max-height: 20vh;
}

.Cloud {
  height: 15vmin;
  pointer-events: none;
}

.Header {
  /* min-height: 50vh; */
  flex: 1;
  align-items: center;
  justify-content: end;
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: "Alien Encounters";
}

.Body {
  flex: 4;
}

.Footer {
  /* min-height: 50vh; */
  flex: 1;
  align-items: center;
  justify-content: end;
  font-size: calc(20px + 2vmin);
  color: white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .Cloud {
    animation: Cloud-slide infinite 20s linear;
  }
} */

/* @keyframes Cloud-slide {
  from {
    transition: ;
  }
  to {
    transform: translateX("100%")
  }
} */

@font-face {
  font-family: 'Alien Encounters';
  src: url('./assets/alien-encounters-bold-italic-webfont.woff2') format('woff2'),
       url('./assets/alien-encounters-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body, #app, #app>div {
  height: 100%
}